<ion-content class="ion-padding">

  <topo-login></topo-login>

  <form [formGroup]="loginForm" (submit)="login()">
  <ion-item>
      <ion-icon name="mail" color="if" slot="start"></ion-icon>
        <ion-input formControlName="email" type="email" placeholder="E-mail" autfocus="true"></ion-input>
      
    </ion-item>

    <ion-item>
      <ion-icon name="lock-closed" color="if" slot="start"></ion-icon>
        <ion-input formControlName="senha" type="password" placeholder="Senha"></ion-input>
      </ion-item><br><br>
      
      <ion-button [disabled]="loginForm.invalid" expand="block" color="if">Enviar</ion-button>
      
    </form>
  

</ion-content>
